<!doctype html>
{% load static %}
<!-- Página de inicio de sesión-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in to Techshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}" >
</head>

<!--Formulario-->
<body class="gradient-custom">
    <header>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container d-flex justify-content-center">
                    <div>
                        <a class="navbar-brand"><img
                                src="{% static 'img/logo.png' %}" alt="logo"
                                height="50px"></a>
                    </div>
                    
                </div>
            </nav>
        </header>
    </header>
    
    <section>
        <!-- Espacio para  inicio de sesión -->
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card form-Card text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-3">
                                <form class="needs-validation" novalidate id="loginForm" method="POST">
                                    {% csrf_token %}
                                    <h2 class="fw-bold mb-2 text-uppercase" id="fai">Welcome back to Techshop</h2>
                                    <p class="text-white-50 mb-5">Please enter your username and password!</p>

                                    <div class="form-outline form-white mb-4">
                                        {{ form_login.usuario }}
                                        <label class="form-label" for="username">Username</label>

                                        <div class="invalid-feedback">
                                            Please enter your username.
                                        </div>
                                    </div>

                                    
                                    {{ form_login.mensaje }}
                                    <div class="form-outline form-white mb-4">
                                        {{ form_login.clave }}
                                        
                                        <label class="form-label" for="password" >Password</label>

                                        <div class="invalid-feedback">
                                            Please enter your password.
                                        </div>
                                    </div>

                                    <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
                                    </p>

                                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>


                                </form>

                            </div>
                            <!-- Redirige a otro archivo -->
                            <div>
                                <p class="mb-0 signup">Don't have an account? <a href="{% url 'registro' %}"
                                        class="text-white-50 fw-bold"><i>Sign
                                            Up</i></a>
                                </p>
                            </div>

                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>
    <!--/Footer-->

    <!--Modals-->
    <div class="modal fade" tabindex="-1" id="invalidModal">
        <div class="modal-dialog">
            <div class="modal-content form-Card">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>WARNING</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Invalid credentials.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script src="{% static 'js/login.js' %}"></script>

</body>

</html>