{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Página principal -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesStore.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/pdp.css' %}">

</head>

<body class="gradient-custom">
    <!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container d-flex">
                <div>
                    <a class="navbar-brand" href="{% url 'portal' %}"><img
                        src="{% static 'img/logo.png' %}"  alt="logo"
                            height="50px"></a>
                </div>
                <div class="container collapse navbar-collapse d-flex carro" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="{% static 'img/icono_perfil.svg' %}"alt=""
                                    style="width:42px;height:42px;" id="profile">
                            </a>
                            <ul class="dropdown-menu" id="profileInfo">

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active menu" aria-current="page" href="#">Catalogue</a>
                        </li>


                    </ul>
                    <li class="nav-item dropdown dropstart d-flex"  >
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'img/carrito.svg' %}" alt=""
                                style="width:42px;height:42px;" id="cart-items">
                        </a>
                        <ul class="dropdown-menu " id="carty">
                            <li id="empty-cart"><a class="dropdown-item">There are no items yet</a></li>
                        </ul>
                    </li>

                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->

    <!--Main-->
      <main class="pb-4">

        <div class="d-flex justify-content-around" id="item">
          <div class="product-info ">
            <div class="col-9 title d-flex">
                <h1>{{ producto.nom_producto }}</h1>
            </div>
            <div class="d-inline-flex justify-content-between align-items-center conte">
                <section class="col-9 d-flex justify-content-center product-pic">
                <img class="producto-imagen" src="../../{{ producto.imagen }}" alt="${itemToView.titulo}">   
                </section>
                <section class="product-details col-3 py-2">
                    <div>
                        <p>{{ producto.descripcion }}</p>

                        <div class="info d-flex justify-content-between">
                            <p><strong>Category:</strong></p>
                            <p>{{ producto.detalle_producto }}</p>
                        </div>    

                        <div class="info d-flex justify-content-between">
                            <p><strong>Price:</strong></p>
                            <p>{{ producto.valor }}</p>
                        </div>
{% comment %} 

                        <div class="pmt-met">
                            <article>
                                <h5>Payment method available: ${itemToView.mediop}</h5>
                            </article>

                        </div> {% endcomment %}

                        <div class="btns">
                            <button class="button btn-light" id="${itemToView.idname}">Add to cart</button>
                            <h6>or</h6>
                            <a href="../checkout/cart.html" style="text-decoration: none"><button class="button agregar-producto" id="${itemToView.idname}">Buy now</button></a>
                            
                        </div>


                    </div>
                </section>
            </div>

        </div>

        </div>
    </main>
    <!--/Main-->

    <!--Footer-->
    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>
    <!--/Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</body>

</html>