<!doctype html>
{% load static %}
<!-- Página de inicio de sesión-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page not found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}" >
</head>

<!--Formulario-->
<body class="gradient-custom">
    <header>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container d-flex justify-content-center">
                    <div>
                        <a class="navbar-brand" href="{% url 'login' %}"><img
                                src="{% static 'img/logo.png' %}" alt="logo"
                                height="50px"></a>
                    </div>
                    
                </div>
            </nav>
        </header>
    </header>
    
    <main class="align-items-center">
        <section class="container d-flex align-items-center contenido">
            <div class="py-5">
                <img class="image" src="{% static 'img/404.jpg' %}" alt="404">
            </div>
            <div class="d-block px-4">
                <h1>Whoops! There is nothing here.</h1>
                <a href="{% url 'portal' %}"><h4>Go to portal.</h4></a>
            </div>
            
        </section>
    </main>

    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>

    <!--Modals-->
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>

</body>

</html>