{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Página principal -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesStore.css' %}">
    <link rel="stylesheet" href="{% static 'components.css' %}">
</head>

<body class="gradient-custom">
    <!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container d-flex">
                <div>
                    <a class="navbar-brand" href="login.html"><img
                            src="{% static 'images/Icons/8689223_mobile_phone_discount_smartphone_cell_icon.png' %}" alt="logo"
                            height="50px"></a>
                </div>
                <div class="container collapse navbar-collapse d-flex carro" id="navbarSupportedContent">
                    
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="./static/img/Icons/9042880_profile_circled_icon.svg" alt=""
                                    style="width:42px;height:42px;" id="profile">
                            </a>
                            <ul class="dropdown-menu" id="profileInfo">

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active menu" aria-current="page" href="#">Catalogue</a>
                        </li>


                    </ul> -->
                    <!-- <li class="nav-item dropdown dropstart d-flex"  >
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="./static/img/Icons/9026048_shopping_cart_simple_icon.svg" alt=""
                                style="width:42px;height:42px;" id="cart-items">
                        </a>
                        <ul class="dropdown-menu " id="carty">
                            <li id="empty-cart"><a class="dropdown-item">There are no items yet</a></li>
                        </ul>
                    </li> -->

                </div>
                
            </div>
        </nav>
    </header>
    <!--/Header-->

    <!--Main-->
    <main>
        <div class="row g-0">
            <img src="{% static 'images/Icons/UML.drawio.png' %}" style="width: 20%;">
            <!-- <aside class="side-menu">
                <ul class="side-menu_info mt-4">
                    <li>
                        <a href=""><h6>All products</h6></a>
                    </li>
                    <li>
                        <h6>Categories</h6>
                    </li>
                    <li>
                        <h6>Brands</h6>
                    </li>
                    <li>
                        <h6>Other</h6>
                    </li>
                </ul>
            </aside> -->

<!--            <div class="col-lg-8 col-sm-12" id="main">
                <section class="container section-product pt-4">
                    <div id="greet">

                    </div>
                    <div class="row d-flex" id="contenedor-productos">
                        Esta sección se llena con JS 

                    </div>
                </section>
            </div>-->

            <div class="col-lg-2 col-md-6 col-sm-12 secundario" id="ppal">
                <aside class="side-menu-b">
                    <div class="ad">
                        <!-- <img src="{% static 'images/Icons/Epic_Marketing_Blog_FeaturedPost_Imagery_v1-ads-01-01-1.jpg' %}"
                            style="width: 100%;"> -->
                    </div>

                </aside>
            </div>
        </div>
    </main>
    <!--/Main-->

    <!--Footer-->
    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'images/Icons/8689223_mobile_phone_discount_smartphone_cell_icon.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>
    <!--/Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="./static/js/cart.js"></script>
</body>

</html>