header {
    background-color: #212529;
}


/* Footer */

footer {
    background-color: #212529;
    color: white;
    border-top: 2px solid rgb(216, 216, 216);
}

footer img {

    width: 5%;
}

.footer .div {
    display: inline-block;
    justify-content: center;
}

.footer-info {
    text-align: center;
}

.footer-info article {
    padding: 4px 0px;
    font-size: 0.8rem;
}

#cart-items,
#profile {
    margin-left: 1rem;
    filter: invert(1);
}

.disabled {
    display: none;
}

.dropdown-menu {
    width: 200px;
}

.litem {
    padding: 0;
    margin: 0;
}

.ditem:hover {
    background-color: #f8f9fa;
}

.menu {
    color: white !important;
    font-size: 1.2rem;
}

.navbar-nav {
    align-items: center;
}

.ad {
    margin: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
    #ppal {
        order: 1;
    }
    aside {
        border-radius: 1rem;

    }
}

@media (min-width: 0px) and (max-width: 768px) {
    #ppal {
        order: 1;
    }
    aside {
        border-radius: 1rem;

    }
}

.image {
    max-width: 700px;
}

.contenido {
    color: black;
}

.boton-menu.active{
    background-color: white;
    color: #085088;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position:absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 white;
}

.boton-menu.active::after{
    content: '';
    position:absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 white;
}

.boton-carrito {
    margin-top: 2rem;
}
