.button {

    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 16px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  
    border-radius: 1rem;
    border: 1px solid gray;
    transition: background-color .2s, color .2s;
  }
  
  .button:hover {
    background-color: gray;
  }
  
  .btns {
    text-align: center;
    color: #666;
  }
  
  #su {
    /* stock units */
    background-color: #085088;
    color: white;
  }
  
  #su:hover {
    background-color: #0f8be9;
  }
  
  .p-item {
    display: inline-flex;
    justify-content: space-between;
  }
    
  .product-info {
    color: white;
    border-radius: 2rem;
    background-color: #212529;
    padding: 20px 40px !important;
  }

  .product-image img {
    max-width: 50vw;
  }

  .product-details {
    border: 1px solid gray;
    border-radius: 0.8rem;
    min-width: fit-content;
    padding: 20px;
  }

  .product-details h1 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .product-details p {
    margin: 0 0 10px;
  }

  .product-details strong {
    font-weight: bold;
  }
  
  .product-details img {
    width: 50px;
  }
  
  .info {
    padding: 0.6rem 0;
    align-items: center;
    border-top: 1px solid gray;
  }
  
  .conte {
    width: 1000px;
  }

  .product-pic img {
    margin-left: 5%;
    max-width: 500px;
  }

  .product-pic  {
    max-width: 500px;
    background-color: white;
    border-radius: 20px;
  }
  
  
  .info p {
    margin-bottom: 0;
  }

  main {
    padding-top: 20px;
  }

  