<!doctype html>
{% load static %}
<html lang="en">
<!-- Página de creación de cuenta -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up to Techshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
</head>

<!--Formulario-->
<body class="gradient-custom">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container d-flex justify-content-center">
                <div>
                    <a class="navbar-brand" href="login.html"><img
                        src="{% static 'img/logo.png' %}" alt="logo"
                            height="50px"></a>
                </div>
                
            </div>
        </nav>
    </header>

    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                    <div class="hidden card2 form-Card text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class=" mt-md-4">
                                <h2 class="fw-bold mb-2 text-uppercase">Register to Techshop</h2>
                                <p class="text-white-50 mb-3">Create your account in a few steps!</p>
                                <form class="needs-validation" novalidate method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline form-white mb-4" class="lista">
                                        <label class="form-label" for="nameInput">Full name</label>
                                        {{ form.nombreCompleto }}

                                        <div class="invalid-feedback">
                                            Please enter your name.
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4" class="lista">
                                        <label class="form-label" for="username">Username</label>
                                        {{ form.usuario }}

                                        <div class="invalid-feedback">
                                            Please enter your username.
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="pwd2">Date of birth</label>
                                        {{ form.f_nacimiento }}
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="emailInput">Email address</label>
                                        {{ form.email }}
                                        <div class="invalid-feedback">
                                            Please enter your email address.
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="pwd1">Password</label>
                                        {{ form.clave }}
                                        <div class="invalid-feedback">
                                            Please enter a password.
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="pwd2">Confirm password</label>
                                        <input type="password" id="pwd2" class="form-control form-control-lg" placeholder="Confirm your password" required />
                                    </div>



                                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Create
                                        account</button>

                                    <p class="mt-3 small mb-4 pb-lg-2">By creating an account, <a class="text-white-50"
                                            href="#!">you agree to Techshop's terms and conditions</a>
                                    </p>
                                </form>

                            </div>
                            <!-- Redirige a otro archivo -->
                            <div>
                                <p class="mb-0 signin">Already have an account? <a href="{% url 'login' %}"
                                        class="text-white-50 fw-bold"><i>Sign In</i></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>

    <!--Modals-->
    <div class="modal fade" tabindex="-1" id="pwdModal">
        <div class="modal-dialog">
            <div class="modal-content form-Card">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>WARNING</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Passwords must match!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="regModal">
        <div class="modal-dialog">
            <div class="modal-content form-Card">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Congratulations!</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You have been registered successfully.</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary"=>Continue</button>
                    </a>
                  </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <!-- <script src="./static/js/animations.js"></script> -->
    <script src="{% static 'js/register.js' %}"></script>

</body>

</html>