.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgb(0, 103, 247), rgb(252, 37, 187)) */
        background: linear-gradient(to right, rgb(247, 132, 0), rgb(252, 37, 187)) 
}



.card {
    position: relative;
}

.btn-close{
    filter: invert(1) ;
}

.form-Card{
    background-color: #212529;;
}

.bgr{
    min-height: min-content;
}

.modal {
    color: white;
}

