* {
    padding: 0;
    margin: 0;

}

:root {
    --defaultDark: #212529;

}


.navbar {
    border-bottom: 2px solid rgb(216, 216, 216);
    background-color: var(--defaultDark) !important;
    color: white !important;
}

.btn-primary {
    background-color: aquamarine;
}

#ppal {
    top: 0;
    margin: 0;
    padding: 0;
}

/* Sidebar */
aside {
    position: sticky;
    height: 100vh;
    top: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.side-menu {
    border-right: 2px solid rgb(216, 216, 216);
}

.side-menu ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width: auto;
    border-bottom: 2px solid rgb(216, 216, 216);
    border-top: 2px solid rgb(216, 216, 216);
}

.side-menu {
    background-color: var(--defaultDark);
    color: white;
    align-items: center;
    display: flex;
}

.side-menu a {
    color: white;
    text-decoration: none;

}




.side-menu_info {
    font-size: large;
    list-style: none;
    width: 100% !important;
}

.section-product .card-body {
    justify-content: center;
}

.card {
    background-color: var(--defaultDark);
    color: white;
}

.card img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.card-img-top {
    background-color: white;
}


.card-body {
    text-align: center;
}


.card-body p,
.card-body h5 {
    margin-bottom: 0.5rem;
}

.add-cart {
    border-radius: 20px;
    width: 10rem;
    font-weight: bold;
    border: 1px solid gray;
}

.add-cart:hover {
    background-color: gray;
}

