{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Página principal -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesStore.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}" >
</head>

<body class="gradient-custom">
    
    <!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container d-flex">
                <div>
                    <a class="navbar-brand" href="login.html"><img
                        src="{% static 'img/logo.png' %}"  alt="logo"
                            height="50px"></a>
                </div>
                <div class="container collapse navbar-collapse d-flex carro" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown d-flex">
                            <a class="" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="{% static 'img/icono_perfil.svg' %}"alt=""
                                    style="width:42px;height:42px;" id="profile">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active menu" aria-current="page" href="#">Catalogue</a>
                        </li>


                    </ul>
                    <li class="nav-item dropdown dropstart d-flex"  >
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'img/carrito.svg' %}" alt=""
                                style="width:42px;height:42px;" id="cart-items">
                        </a>
                        <ul class="dropdown-menu " id="carty">
                            <li id="empty-cart"><a class="dropdown-item">There are no items yet</a></li>
                        </ul>
                    </li>

                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->

    <!--Main-->
    <main>
        <div class="row g-0">
            <div class="col-lg-2 col-md-6 col-sm-12" id="ppal">
                <aside class="side-menu ">
                    <ul class="side-menu_info mt-4">
                        <li >
                            <h6>All products</h6>
                        </li>
                        <li >    
                            <h6>Cellphones</h6>
                        </li>
                        <li >   
                            <h6>Watches</h6>
                        </li>
                        <li >
                            <h6>Earphones</h6>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="col-lg-8 col-sm-12" id="main">
                <section class="container section-product pt-4">
                    <div id="greet">
                        <h3>Welcome to Techshop.</h3>
                    </div>
                    <div class="row d-flex" id="contenedor-productos">

                        {% for prod in lista_p %}
                        <div class="col-lg-3 mb-4 item-card">
                            <div class="card h-100">
                                <a href = "detalle_producto/{{prod.id}}" class="card-img-top card h-100">
                                <img src="../{{ prod.imagen }}"   alt="{{prod.nom_producto}}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title name">{{prod.nom_producto}}</h5>
                                    <p class="card-text">{{prod.descripcion}}</p>
                                    <p class="card-text">${{prod.valor}}</p>
                                    <button type="button" class="btn btn-light add-cart agregar-producto" id="{{prod.id}}">Add to cart</button>
                
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

            {% comment %} <div class="col-lg-2 col-md-6 col-sm-12 secundario" id="ppal">
                <aside class="side-menu-b">
                    <div class="ad">
                        <img src="./static/img/Icons/Epic_Marketing_Blog_FeaturedPost_Imagery_v1-ads-01-01-1.jpg"
                            style="width: 100%;">
                    </div>

                </aside>
            </div> {% endcomment %}
        </div>
    </main>
    <!--/Main-->

    <!--Footer-->
    <footer>
        <div class="container py-4 align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="" style="width: 70px;">
        </div>
        <div class="container pb-4">
            <div class="row">
                <div class="footer-info col-lg-3">
                    <h4>About us</h4>
                    <article>Our commitment</article>
                    <article>Mission</article>
                    <article>Vission</article>
                    <article>Goals</article>
                    <article>Origins</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Contact us</h4>
                    <article>Customer service</article>
                    <article>Press</article>
                    <article>Other contacts</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Our locations</h4>
                    <article>Americas</article>
                    <article>Europe</article>
                    <article>Africa</article>
                    <article>Asia</article>
                    <article>Oceania</article>
                </div>
                <div class="footer-info col-lg-3">
                    <h4>Other</h4>
                    <article>Work with us</article>
                    <article>FAQ</article>
                    <article>More</article>
                </div>

            </div>
            <section class="d-flex justify-content-end">
                <article class="pt-4">© Techshop 2023 - All rights reserved.</article>
            </section>
        </div>
    </footer>
    <!--/Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/cart.js' %}"></script>
</body>

</html>